.mp4 filter=lfs diff=lfs merge=lfs -text
C:/Users/Public/git/Yu_Cheng/resources/videos/P3DGameTrailler_group11.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 !text !filter !merge !diff
